:root {
    --red-color: #E43D11;
    --tint-color: #ECE9E2;
    --white-color: #F1F1FB;
    --btn-padding: 15px 50px;
    --btn-radius: 26px;
    --fs-normal: 16px;
}

html {
    font-size: var(--fs-normal);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--red-color);
    background-color: var(--tint-color);
    margin: 0;
    padding: 0;
}

header {
    padding: 13px 120px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#left {
    width: 50%;
}

#left h1 {
    font-size: 1.5rem;
    width: 100px;
}

#left a {
    display: inline-block;
}

#right {
    width: 50%;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 32px;
}

nav ul li {
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: var(--red-color);
}

nav ul li a {
    text-decoration: none;
    color: var(--red-color);
    position: relative;
    padding-bottom: 2px;
}

nav ul li:nth-child(1) a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--red-color);
    margin-bottom: -2.5px;
}

#home-welcoming {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 789px;
    background-color: var(--tint-color);
}

#welcoming-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 120px;
}

#welcoming-content span {
    font-size: 1.2rem;
    margin-bottom: -20px;
}

#welcoming-content h1 {
    font-size: 4.6rem;
    line-height: 1.1;
    width: 620px;
    margin-bottom: 72px;
}

#welcoming-content button {
    margin-bottom: 55px;
}

button {
    padding: var(--btn-padding);
    background-color: var(--tint-color);
    color: var(--red-color);
    border: 1px solid;
    border-radius: var(--btn-radius);
    font-size: 1.2rem;
    width: 221px;
    cursor: pointer;
}

#social-media-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
}

.links {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.links img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#dev-skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--white-color);
}

#services {
    margin-top: 51px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

#dev-skills h1 {
    font-size: 2rem;
    margin-top: 142px;
}

#exp-span {
    text-align: left;
    width: 1100px;
    margin-top: 85px;
}

.service {
    width: 371.825px;
    height: 321px;
    border-radius: 20px;
    background: var(--tint-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service p {
    font-weight: 700;
    width: 80%;
}

#experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 117px;
    width: 80%;
    margin-top: 85px;
    margin-bottom: 180px;
}

#done {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--red-color);
    color: var(--tint-color);
}

#done h1 {
    font-size: 2rem;
    margin-top: 142px;
}

#projects-done {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 57px;
}

.project-done {
    padding: 142px 121px;
    border-radius: 16px;
    background: var(--tint-color);
}

.filled-btn {
    margin-top: 122px;
    margin-bottom: 142px;
}

#testimonials {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--white-color);
}

#testimonials h1 {
    font-size: 2rem;
    margin-top: 142px;
}

#testimonials-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 52px;
    margin-top: 50px;
    margin-bottom: 142px;
}

#testimonials .testimonial:nth-child(2) {
    flex-direction: row-reverse;
}

.testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

.spch-bubble {
    width: 915px;
    height: 314px;
    border-radius: 20px;
    background: var(--tint-color);
}

.spch-bubble p {
    font-size: 1.2rem;
    padding: 16px 45px;
}

.testimonial-image {
    width: 116px;
    height: 116px;
    text-align: center;
}

.testimonial-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial-image b {
    font-size: 1.5rem;
}

#collaboration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--red-color);
    color: var(--tint-color);
    height: 880px;
}

#collaboration h1 {
    font-size: 3.9rem;
}

#collaboration p {
    font-size: 1.2rem;
    text-align: center;
    width: 550px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--tint-color);
    color: var(--red-color);
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer h2 {
    text-decoration: underline;
}

footer b{
    margin-top: 120px;
}

#footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

#footer-content p{
    width: 289px;
}

.footer-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 300px;
}