:root {
    --red-color: #E43D11;
    --tint-color: #ECE9E2;
    --white-color: #F1F1FB;
    --btn-padding: 15px 50px;
    --btn-radius: 26px;
    --fs-normal: 16px;
}

html {
    font-size: var(--fs-normal);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--red-color);
    background-color: var(--tint-color);
    margin: 0;
    padding: 0;
}

header {
    padding: 13px 120px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#left {
    width: 50%;
}

#left h1 {
    font-size: 1.5rem;
    width: 100px;
}

#left a {
    display: inline-block;
}

#right {
    width: 50%;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 32px;
}

nav ul li {
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: var(--red-color);
}

nav ul li a {
    text-decoration: none;
    color: var(--red-color);
    position: relative;
    padding-bottom: 2px;
}

nav ul li:nth-child(1) a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--red-color);
    margin-bottom: -2.5px;
}

#home-welcoming,
#about-me {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--tint-color);
}

#contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tint-color);
    height: 789px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

form input[type="submit"] {
    padding: var(--btn-padding);
    background-color: var(--red-color);
    color: var(--white-color);
    border: 1px solid;
    border-radius: var(--btn-radius);
    font-size: 1.2rem;
    width: 221px;
}

.name-email-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.group {
    display: flex;
    flex-direction: column;
}

.group label {
    font-weight: 600;
}

.group input {
    padding: 17px;
    border-radius: 8px;
    width: 313px;
    border: none;
}

.message-group {
    width: 680px;
}

.message-group label {
    font-weight: 600;
}

textarea {
    padding: 17px;
    border-radius: 8px;
    width: 100%;
    border: none;
    resize: none;
}

@media only screen and (max-width:715px) {
    #contact-form {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--tint-color);
        height: 789px;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    form input[type="submit"] {
        padding: var(--btn-padding);
        background-color: var(--red-color);
        color: var(--white-color);
        border: 1px solid;
        border-radius: var(--btn-radius);
        font-size: 1.2rem;
        width: 221px;
    }

    .name-email-group {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .group {
        display: flex;
        flex-direction: column;
    }

    .group label {
        font-weight: 600;
    }

    .group input {
        padding: 17px;
        border-radius: 8px;
        width: 313px;
        border: none;
    }

    .message-group {
        width: 345px;
    }

    textarea {
        padding: 17px;
        border-radius: 8px;
        width: 90%;
        border: none;
        resize: none;
    }
}

@media only screen and (max-width:405px) {
    .group input {
        padding: 17px;
        border-radius: 8px;
        width: 290px;
        border: none;
    }

    .message-group {
        width: 325px;
    }
}

#sub-btn {
    margin-top: 33px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#project-h1 {
    margin-top: -22px;
    margin-bottom: 110px;
}

#home-welcoming {
    height: 789px;
}

#about-me #content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 85%;
    gap: 200px;
    margin-left: 120px;
    margin-bottom: 112px;
    margin-top: 112px;
}

#about-me #details {
    width: 55%;
}

#about-me #details h2 {
    font-size: 2rem;
    margin-top: 0px;
}

#about-me #details p {
    font-size: 1.2rem;
}

#about-me #profile-image {
    width: 404px;
    height: 451px;
    background: var(--white-color);
    margin-right: 80px;
    border-radius: 10%;
    object-fit: cover;
}

@media only screen and (max-width: 1000px) {
    #about-me #content {
        gap: 100px;
        margin-left: 120px;
        margin-bottom: 112px;
        margin-top: 112px;
    }

    #about-me #details {
        width: 75%;
    }

    #about-me #profile-image {
        margin-right: 90px;
    }
}

@media only screen and (max-width: 950px) {
    #about-me #content {
        margin-left: 5%;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    #about-me #details {
        width: 100%;
        max-width: 700px;
        margin-bottom: 20px;
    }

    #about-me #profile-image {
        width: 100%;
        max-width: 700px;
        margin-right: 0;
    }
}


#welcoming-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 120px;
}

#welcoming-content span {
    font-size: 1.2rem;
    margin-bottom: -20px;
}

#welcoming-content h1 {
    font-size: 4.6rem;
    line-height: 1.1;
    width: 620px;
    margin-bottom: 72px;
}

#welcoming-content button {
    margin-bottom: 55px;
}

button {
    padding: var(--btn-padding);
    background-color: var(--tint-color);
    color: var(--red-color);
    border: 1px solid;
    border-radius: var(--btn-radius);
    font-size: 1.2rem;
    width: 221px;
    cursor: pointer;
}

#social-media-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
}

.links {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.links img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#dev-skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--white-color);
}

#services {
    margin-top: 51px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

#dev-skills h1 {
    font-size: 2rem;
    margin-top: 142px;
}

#exp-span {
    text-align: left;
    width: 100%;
    margin-top: 85px;
    padding-left: 15%;
}

.service {
    width: 371.825px;
    height: 321px;
    border-radius: 20px;
    background: var(--tint-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service p {
    font-weight: 700;
    width: 80%;
}

#experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 117px;
    width: 80%;
    margin-top: 85px;
    margin-bottom: 180px;
}

#done {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--red-color);
    color: var(--tint-color);
}

#done h1 {
    font-size: 2rem;
    margin-top: 142px;
}

#projects-done {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 57px;
}

.project-done {
    padding: 142px 121px;
    border-radius: 16px;
    background: var(--tint-color);
}

.filled-btn {
    margin-top: 122px;
    margin-bottom: 142px;
}

.about-btn {
    margin-top: 92px;
    margin-bottom: 0px;
}

#testimonials {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--white-color);
}

#testimonials h1 {
    font-size: 2rem;
    margin-top: 142px;
}

#testimonials-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 52px;
    margin-top: 50px;
    margin-bottom: 142px;
}

#testimonials .testimonial:nth-child(2) {
    flex-direction: row-reverse;
}

.testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

.spch-bubble {
    width: 915px;
    height: 314px;
    border-radius: 20px;
    background: var(--tint-color);
}

.spch-bubble p {
    font-size: 1.2rem;
    padding: 16px 45px;
}

.testimonial-image {
    width: 116px;
    height: 116px;
    text-align: center;
}

.testimonial-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial-image b {
    font-size: 1.5rem;
}

#collaboration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--red-color);
    color: var(--tint-color);
}

#collaboration h1 {
    text-align: center;
    font-size: 3.9rem;
    margin-top: 142px;
}

#collaboration p {
    font-size: 1.2rem;
    text-align: center;
    width: 550px;
}

@media only screen and (max-width:580px) {

    #collaboration h1 {
        font-size: 3.3rem;
    }

    #collaboration p {
        font-size: 1.2rem;
        text-align: center;
        width: 350px;
    }

}

@media only screen and (max-width:400px) {
    #collaboration p {
        width: 300px;
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--tint-color);
    color: var(--red-color);
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer h2 {
    text-decoration: underline;
    margin-top: 0;
}

footer b {
    margin-top: 60px;
}

#footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    gap: 200px;
}

#footer-content p {
    width: 289px;
}

.footer-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 227px;
}

@media only screen and (max-width:885px){
    #footer-content {
        gap: 100px;
    }
}